{% extends 'main/base.html' %}
{% block content %}
 <h1>Crie seu Perfil</h1>
 <a href="{% url 'profile.novo' %}">Novo</a>
 <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Intolerancia a Gluten</th>
            <th>Intolerancia a Lactose</th>
            <th>Ações</td>
        </tr>
    </thead>
    <tbody>
        {% for profile in object_list %}
        <tr>
            <td>{{ profile.nome_completo }}</td>
            <td>{{ profile.idade }} Anos</td>
            <td>
                {% if profile.intolerancia_a_Gluten %}
                Sim
                {% else %}
                Não
                {% endif %}
            </td>
            <td>
                {% if profile.intolerancia_a_Lactose %}
                Sim
                {% else %}
                Não
                {% endif %}
            </td>
            <td>
                <a href="{% url 'profile.edit' profile.pk %}">Editar</a>
                <a href="{% url 'profile.delete' profile.pk %}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock content %}
