<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do seu Perfil</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1>HYGIA</h1>
        </div>
        <div class="menu">
                <a class="btns-index" href="{% url 'home' %}">Home</a>
                <a class="btns-index" href="#">Dieta</a>
                <a class="btns-index" href="#">Treino</a>
                <a class="btns-index" href="{% url 'profile.index' %}">Meu Perfil</a>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>