<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <nav id="navbar-perso">
            <div class="logo">
                <h1>HYGIA</h1>
            </div>
            <div class="menu">
                <a href="{% url 'home' %}">Home</a>
                <a href="#">Dieta</a>
                <a href="#">Treino</a>
                <a href="{% url 'profile.index' %}">Meu Perfil</a>
            </div>
        </nav>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages  %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>



